<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title></title>
    </head>
    <body>
        <h3>velocity模板引擎</h3>
        <h1>$name 或者使用 ${name}</h1>
    </body>
</html>